<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body
        {
        background-image:url({{url_for('static',filename='cosmetics.jpg')}})
        }
    </style>
    <title>Cosmetics</title>
</head>
<body><center>
    <p>
        <font size="6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>WELCOME TO COSMETICS SEARCH</h1>
        <a href="/findcosmetics" style="color: rgb(255, 0, 153)">Search Cosmetics</a>
        <br>
        <a href="/home" style="color: rgb(255, 0, 0)">Home </a>
        <br>
    </p>
</body></center>
</html>