<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body
        {
        background-image:url({{url_for('static',filename='mobile.jpg')}})
        }
    </style>
    <title>Enter Information</title>
</head>
<body>
    <p><font size="6">
    <div align="center">
    <h2> <em>Enter details to search laptop</em></h2>
    <form action="/detailslaptop" method="post">
        <table border="2">
            <tr>
                <td><em>Brand:</em></td><td><input type="text" name="brand" id="brand" placeholder="@dell"></td>
            </tr>
            <tr>
                <td><em>processor:</em></td><td><input type="text" name="processor" id="processor" placeholder="@i5"></td>
            </tr>
            <tr>
                <td><em>Price min:</em></td><td><input type="number" name="pricemin" id="pricemin" placeholder="@25000" required></td>
            </tr>
            <tr>
                <td><em>Price max:</em></td><td><input type="number" name="pricemax" id="pricemax" placeholder="@50000" required></td>
            </tr>
            <tr>
                <td><em>RAM:</em></td><td><input type="text" name="ram" id="ram" placeholder="@8 GB"></td>
            </tr>
            <tr>
                <td><em>Storage:</em></td><td><input type="text" name="storage" id="storage" placeholder="@512 GB or SSD/HDD"></td>
            </tr>
        </table>
    
<br>
<br>
</div align="center">
<tr>
    <td><div align="center"><input type="Reset" value="Reset"></div align="center"></td>
</tr>
<tr>
    <td><div align="center"><input type="Submit" value="Search"></div align="center"></td>
    <center><a href="/home">Home</a></center>
</tr>
</p>
</form>    
</body>
</html>