<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body
        {
        background-image:url({{url_for('static',filename='img1.jpg')}})
        }
    </style>
    <title>HOME</title>
</head>
<body>
    <p>
        <font size="6">
        <h1>WELCOME TO SEARCH</h1>
        <br>
        <a href="/findmobile" style="color: rgb(179, 8, 231)">Search Mobile</a>
        <br>
        <a href="/findlaptop" style="color: rgb(148, 85, 85)">Search Laptop</a>
        <br>
        <a href="/cosmetics" style="color: rgb(255, 0, 153)">Cosmetics</a>
    </p>
</body>
</html>